#root {
  background-color: #e8f1fd;
  padding: 1.75em 1.25em;
}

.app {
  height: calc(100vh - 3.5em);
  font-family: Poppins;
}
.no-style-button,
.secondary-button {
  border: none;
  outline: none;
  outline-offset: none;
  background: none;
  font-family: Poppins;
}

.secondary-button {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.sp-btw {
  justify-content: space-between;
}
